<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Growlers2Go, <%= @user.first_name %>!</h1>
<p>Your first weekly delivery will be Thursday SomeMonth SomeDay. You can change
your weekly delivery up until Wednesday at midnight.</p>
</body>
</html>