<div id="content">
  <div id="results">
    <ul>
      <li class="beer">
        <img src="<%= @product.image %>">
        <span class="name"><%= @product.name %></span>
        <span class="description"><%= @product.description %></span>
        <a href="/products/<%= @product.id %>/edit">Edit</a>
      </li>
    </ul>
  </div>
</div>
